.main-layout {
    &__header {
    }
    &__container {
        display: flex;
    }
    &__sidebar {
        flex-grow: 1;
        max-width: 150px;
        width: 100%;
    }
    &__main {
        flex-grow: 23;
        padding: 15px;
    }
}
